* {
    font-family: monospace;
}

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

header {
    background-color: yellow;
}

#header-container {
    margin: 2vh;
}

#app {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff4dc;
}

#webgl-container {
    background-color: deeppink;
    height: 100%;
    width: 100%;
}

#canvas {
    height:100%;
    width: 100%;
    background-color: white;
}